/*
=============== 
Variables
===============
*/

:root {
	/* font */
	--ff-primary: "Roboto", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	/* dark shades of primary color*/
	--clr-primary-1: hsl(205, 86%, 17%);
	--clr-primary-2: hsl(205, 77%, 27%);
	--clr-primary-3: hsl(205, 72%, 37%);
	--clr-primary-4: hsl(205, 63%, 48%);
	/* primary/main color */
	--clr-primary-5: hsl(205, 78%, 60%);
	/* lighter shades of primary color */
	--clr-primary-6: hsl(205, 89%, 70%);
	--clr-primary-7: hsl(205, 90%, 76%);
	--clr-primary-8: hsl(205, 86%, 81%);
	--clr-primary-9: hsl(205, 90%, 88%);
	--clr-primary-10: hsl(205, 100%, 96%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--clr-sea: rgb(101, 192, 178);

	--transition: all 0.25s linear;
	--spacing: 0.1rem;
	--radius: 0.75rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}

/* animations */

@keyframes colorChange {
	50% {
		color: rgb(164, 27, 209);
		/* scale: 1.1; */
		transform: translateY(0px);
	}
	70% {
		color: var(--clr-sea);
		scale: 1.1;
		transform: translateY(-20px);
	}
	100% {
		transform: translateZ(20px);
		color: red;
	}
}
@keyframes clrChange {
	50% {
		color: rgb(164, 27, 209);
	}
	100% {
		color: var(--clr-sea);
	}
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	scrollbar-width: thin;
	scrollbar-color: linear-gradient(
			rgba(63, 208, 212, 0.25),
			rgba(0, 0, 0, 0.5)
		)
		var(--clr-primary-5);
}

/* scrollbar */
/* Works on Firefox */

*::-webkit-scrollbar {
	width: 4px;
}

*::-webkit-scrollbar-track {
	background: linear-gradient(rgba(63, 208, 212, 0.25), rgba(0, 0, 0, 0.5));
}

body::-webkit-scrollbar-thumb {
	background-color: var(--clr-primary-5);
	border-radius: 50px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background: var(--clr-white);
	color: var(--clr-grey-1);
	line-height: 1.5;
	font-size: 0.875rem;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
}
h1 {
	font-size: 2.75rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--clr-grey-5);
}

/*
=============== 
welcome page
===============
*/

#welcome img {
	width: 310px;
	height: 255px;
}

.loading {
	width: 4rem;
	height: 4rem;
	border: 8px solid transparent;
	border-radius: 50%;
	border-top-color: var(--clr-primary-3);
	animation: spinner 0.65s linear infinite;
}

/*
=============== 
Stripe Styles
===============
*/

header nav img {
	width: 160px;
	height: 40px;
	cursor: pointer;
}

.nav {
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	position: relative;
	z-index: 2;
}

/* fixed nav */
.fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: inherit;
	box-shadow: var(--light-shadow);
	z-index: 4;
}

.navColorChange {
	background: var(--clr-primary-2) !important;
}

.nav-center {
	width: 90vw;
	max-width: var(--max-width);
}
.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0.9;
}

button.link-btn {
	color: white;
	font-weight: bold;
}
.btn:hover {
	background: var(--clr-white) !important;
	color: var(--clr-grey-5) !important;
}
.nav-links {
	display: none;
}

/* contact button */
#btnContainer {
	display: grid;
	place-items: center;
}
.contact-btn {
	display: none;
	padding: 1rem 0;
	text-transform: capitalize;
	width: 10vw;
}
.contact-sm {
	display: block;
	width: 60vw;
}
.hero {
	position: absolute;
	width: 100vw;
	top: 0;
	left: 0;
}
.hero {
	position: relative;
	height: 100vh;
	margin-top: -5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-center article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-info h1 {
	text-transform: none;
	max-width: 96vw;
	margin-bottom: 2rem;
	color: rgb(238, 6, 6);
	font-size: 2rem;
	font-weight: bolder;
	text-align: center;
}
.hero-info h1:not(em) {
	animation: clrChange 4s infinite 2s alternate-reverse;
}
.hero-info em {
	font-style: oblique;
	font-size: 2.5rem;
	visibility: hidden;
}

.hero-info span.show {
	visibility: visible;
	animation: clrChange 4s infinite alternate-reverse;
}

.hero-info p {
	max-width: 35em;
	line-height: 1.8;
	font-size: 1.155rem;
	font-style: italic;
	color: var(--clr-white);
}
.hero-images {
	display: none;
}

.fa-camera {
	color: red;
	animation: colorChange 2s infinite 2s forwards alternate;
}

/* about modal */

.btn.about-btn {
	background: transparent;
	color: white;
	font-weight: bold;
}

.btn.about-btn:hover {
	background: var(--clr-white);
	border-color: none;
	color: var(--clr-primary-5);
}

.aboutModalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(73, 166, 233, 0.5);
	display: grid;
	place-items: center;
	transition: var(--transition);
	z-index: 5;
	visibility: hidden;
}

.open-modal {
	visibility: visible;
}

.open-modal .aboutModalContainer {
translate: 0 0%;
}

.aboutModalContainer {
	background: var(--clr-white);
	border-radius: var(--radius);
	width: 95vw;
	height: 95vh;
	max-width: var(--fixed-width);
	text-align: center;
	display: grid;
	place-items: center;
	position: relative;
	translate: 0 -105%;
	transition: var(--transition);
}

.close-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2.2rem;
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	transition: var(--transition);
}
.close-btn:hover {
	color: var(--clr-red-light);
	transform: scale(1.2);
}

/* contact modal */

.contactWrapper {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(73, 166, 233, 0.5);
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
	transition: var(--transition);
	z-index: 5;
	visibility: hidden;
}

.contactWrapper.show {
	visibility: visible;
}

.contactWrapper.show .contactMenu {
	translate: 0 0%;
}

.contactWrapper .contactMenu {
	position: relative;
	background: white;
	height: 85vh;
	width: 85vw;
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 0;
	translate: 0 -115%;
	transition: var(--transition);
}

.contactWrapper .contactMenu::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10vh;
	height: 10vh;
	background: linear-gradient(45deg, rgba(73, 166, 233, 0.8), rgba(73, 166, 233, 0.4));
	border-radius: 2rem 0.166rem 0.6rem;
}

.contactWrapper .contactMenu ul {
	font-size: large;
	padding: 2rem ;
}

.contactWrapper .contactMenu ul a:hover {
	text-decoration: underline;
}

/* gallery */
section.gallery {
	padding: 5rem 1rem;
	/* background: linear-gradient(rgba(255, 0, 0, 0.25), rgba(0, 0, 255, 0.244)); */
	background: rgba(73, 166, 233, 0.5);
	border-radius: 0 0 var(--radius) var(--radius);
}
section.gallery h2 {
	text-align: center;
	line-height: 2.5;
}
.gallery .imagesContainer {
	display: grid;
	place-items: center;
}
section.gallery img {
	width: 300px;
	height: 200px;
	margin: 0.5rem -0.4rem;
	border-radius: 0.3rem;
	transition: var(--transition);
}

section.gallery img:hover {
	box-shadow: var(--dark-shadow);
	cursor: pointer;
	scale: 1.05;
}

/* gallery modal */

.galleryWrapper {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(73, 166, 233, 0.5);
	height: 100vh;
	width: 100vw;
	z-index: 5;
	display: grid;
	place-items: center;
	visibility: hidden;
}

.galleryWrapper.show {
	visibility: visible;
}

.galleryWrapper.show .galleryModal {
	scale: 1;
}

.galleryWrapper.show .galleryModal img {
	scale: 1;
}

.galleryWrapper .galleryModal {
	position: relative;
	background: white;
	height: 85vh;
	width: 85vw;
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	padding: 1.7rem;
	scale: 0;
	transition: var(--transition);
}

.galleryWrapper .galleryModal img {
	height: 40vh;
	width: 70vw;
	border-radius: 0.3rem 1rem;
	scale: 0;
	transition: var(--transition);
}

.galleryWrapper .galleryModal h3 {
	line-height: 0.5;
	margin-top: 20px;
}

.galleryWrapper .galleryModal .underline {
	width: 8rem;
	height: 0.25rem;
	background: var(--clr-primary-5);
}

.galleryWrapper .galleryModal p {
	line-height: 1.4;
	margin-top: 10px;
}

/*
=============== 
Pagination
===============
*/
div.section-title {
	text-align: center;
	padding: 6rem 1rem;
}

div.section-title .loading {
	margin: 0 auto;
}
.followers {
	width: 90vw;
	max-width: var(--max-width);
	margin: 5rem auto;
}
.container {
	display: grid;
	gap: 2rem;
	margin-bottom: 4rem;
}
@media screen and (min-width: 576px) {
	.container {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}
.card {
	background: var(--clr-white);
	border-radius: var(--radius);
	box-shadow: var(--light-shadow);
	padding: 2rem 3.5rem;
	text-align: center;
}
.card img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 0.75rem;
}

.card h4 {
	margin-bottom: 1.5rem;
	font-size: 0.85rem;
	color: var(--clr-grey-5);
}

.btn {
	padding: 0.35rem 0.75rem;
	letter-spacing: 1.5px;
	font-size: 0.75rem;
	color: var(--clr-white);
	background: var(--clr-primary-2);
	border-radius: var(--radius);
	border-color: transparent;
	text-transform: capitalize;
	transition: var(--transition);
	cursor: pointer;
}

.btn-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.page-btn {
	width: 2rem;
	height: 2rem;
	background: var(--clr-primary-7);
	border-color: transparent;
	border-radius: 5px;
	cursor: pointer;
	margin: 0.5rem;
	transition: var(--transition);
}
.active-btn {
	background: var(--clr-primary-1);
	color: var(--clr-white);
}
.prev-btn,
.next-btn {
	background: transparent;
	border-color: transparent;
	font-weight: bold;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	margin: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
}

@media screen and (min-width: 775px) {
	.btn-container {
		margin: 0 auto;
		max-width: 700px;
	}
}

/* numbers */

.numbers {
	padding: 5rem 0;
	width: 90vw;
	margin: 0 auto;
	display: grid;
	gap: 3rem;
}

@media screen and (min-width: 768px) {
	.numbers {
		grid-template-columns: 1fr 1fr;
		max-width: 1170px;
	}
}
@media screen and (min-width: 992px) {
	.numbers {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.numbers article {
	background: var(--white);
	padding: 1rem 2rem;
	border-radius: 0.2rem;
	border-bottom: 4px solid transparent;
}

.numbers article span {
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.25;
}

.numbers article p {
	margin: 0;
	text-transform: capitalize;
	font-size: 1.5rem;
}

.numbers article:nth-of-type(1) {
	border-bottom-color: #f59e0b;
}
.numbers article:nth-of-type(2) {
	border-bottom-color: #14b8a6;
}
.numbers article:nth-of-type(3) {
	border-bottom-color: #a855f7;
}

/* more images */

.otherImg {
	display: grid;
	place-items: center;
	height: 90vh;
}

.otherImg article {
	position: relative;
	width: 100vw;
	text-align: center;
	padding: 10px;
}

.otherImg article h2 {
	font-size: 22px;
}

.otherImg article div {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.otherImg article div img {
	width: 100vw;
	height: 50vh;
	padding: 1rem 0.5rem;
	transition: all 0.5s linear;
}

/* footer design */

footer {
	position: relative;
	background: var(--clr-primary-1);
	padding: 5rem 1rem;
	width: 100%;
	color: var(--clr-grey-8);
	font-size: 0.9rem;
	border-top: 2px solid;
}

footer p {
	position: absolute;
	top: 25px;
	left: 25px;
	font-weight: bold;
	text-decoration: underline;
}

footer p i {
	border: 1px solid;
	border-radius: 50%;
	display: grid;
	place-items: center;
	padding: 0.2rem;
	margin-right: 0.25rem;
}

footer address {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	padding: 0.35rem 0;
}

footer div:not(webBuilder) {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}

footer ul.socialList {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}

footer ul li {
	padding: 0.5rem;
}
footer li {
	padding: 0.5rem 0;
	list-style-type: none;
	text-align: center;
}

footer ul:nth-child(4) li a:link,
footer ul:nth-child(4) li a:visited {
	border: 1px solid;
	border-radius: 50%;
	display: flex;
	place-items: center;
}

footer a:link,
footer a:visited {
	color: var(--clr-grey-7);
	padding: 0.4rem;
}
footer a:hover {
	color: var(--clr-grey-10);
}

footer img {
	width: 200px;
	height: 40px;
	cursor: pointer;
}

footer #date {
	font-size: 0.98rem;
}

footer div#webBuilder {
	position: absolute;
	bottom: 0px;
	left: 50%;
	padding: 1rem 0;
	transform: translateX(-50%);
	animation: clrChange 1s infinite;
}

/* responsiveness */

@media screen and (min-width: 600px) {
	.hero-info em {
		font-size: 4rem;
	}
	.hero-info i {
		font-size: 3.2rem;
	}

	.contact-btn {
		display: none;
	}
	.contact-sm {
		display: block;
	}
	#welcome h2 {
		font-size: 2.4rem;
		line-height: 1.1;
		width: 500px;
	}

	.galleryWrapper .galleryModal {
		padding: 1.8rem;
		height: 90vw;
	}

	.galleryWrapper .galleryModal img {
		width: 76vw;
	}

	section.gallery .imagesContainer {
		grid-template-columns: repeat(2, 1fr);
	}

	footer ul.socialList {
		display: block;
		position: absolute;
		bottom: 10vw;
		right: 3vw;
	}
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
	header nav img {
		width: 210px;
	}
	.nav-center {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.hero {
		height: 100vh;
	}
	.hero-center article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero-info h1 {
		max-width: 70vw;
		font-size: 3rem;
		line-height: 1.4;
	}

	.hero-info p {
		font-size: 1.35rem;
	}
	.hero-images {
		display: block;
		justify-self: center;
	}
	.phone-img {
		width: 12rem;
	}
	.contact-btn {
		display: block;
	}
	.contact-sm {
		display: none;
	}
	#welcome {
		padding: 2rem;
	}
	#welcome h2 {
		font-size: 3.2rem;
		line-height: 1.1;
		width: 750px;
	}
	#welcome img {
		width: 400px;
		height: 300px;
	}
	.galleryWrapper .galleryModal,
	.contactWrapper .contactMenu {
		height: 80vh;
		width: 50vw;
	}

	.galleryWrapper .galleryModal .underline {
		width: 10.6rem;
	}

	.galleryWrapper .galleryModal img {
		height: 40vh;
		width: 44vw;
	}
	footer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	footer ul.socialList {
		bottom: 5vw;
		right: 1.5vw;
	}
	footer .nav-logo {
		grid-column: 2;
		grid-row: 1;
		margin: 30px 0px 0 10px;
	}
	footer address {
		grid-column: 2;
		grid-row: 2;
		margin: 30px 100px 0 0;
	}
	footer .email {
		grid-column: span 2;
	}
}

@media screen and (min-width: 1200px) {
	.hero-center {
		grid-template-columns: 2fr 1fr;
		align-items: end;
		padding-bottom: 0vh;
	}
	.hero-info h1 {
		max-width: 50vw;
		font-size: 3.5rem;
	}
	section.gallery .imagesContainer {
		grid-template-columns: repeat(3, 1fr);
	}
	.galleryWrapper .galleryModal {
		height: 90vh;
		width: 50vw;
	}
	.galleryWrapper .galleryModal img {
		height: 43vh;
		width: 45vw;
	}
	footer {
		display:flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		padding: 10rem 15rem;
	}

	footer ul.socialList {
		bottom: 3.5vw;
		right: 1.5vw;
	}
}